
.custom {
  display: flex-start;
  align-items: flex-start; 
  justify-content: center;
  width: 100%;
  height: 70%;
  margin-top: 5%;
  margin-left: 0;
}
.create {
  font-size: 75%;
} 

.room {
  font-size: 150%;
}

.prueba{
  height: 70vh;
}